<h1>Edit a Photo</h1>

<p><%= link_to "Back to Photo", photo_path(@photo) %></p>

  <%= form_for @photo do |f| %>
    <div class = "form_field">
      <%= f.label :photographer %>
      <%= f.text_field :photographer %>
    </div>

    <div class = "form_field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class = "form_field">
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>

    <%= f.submit %>

  <% end %>
