<div id = "new-photo">
<h2>Add A New Photo</h2>

  <%= form_for @photo do |f| %>

    <div class = "form_field">
      <%= f.label :photographer %>
      <%= f.text_field :photographer, :class => 'text_field' %>
    </div>

    <div class = "form_field">
      <%= f.label :title %>
      <%= f.text_field :title, :class => 'text_field' %>
    </div>

    <div class = "form_field">
      <%= f.label :url %>
      <%= f.text_field :url, :class => 'text_field' %>
    </div>

    <%= f.submit 'Add Photo', :class => 'submit_class' %>

  <% end %>

</div>
