<div id="show">
<h2>Photo</h2>

<p><%= link_to "Back to all Photos", photos_path %> | <%= link_to "Edit Photo", edit_photo_path(@photo) %> |
<%= link_to "Delete Photo", photo_path(@photo), method: :delete, data: {confirm: "Are you sure you want to delete this photo?"} %> </p>

<p><%= @photo.title %>, <%= @photo.photographer %></p>
<img src="<%= @photo.url %>">
</div>
